doctype
html
  head
    title Primality test application
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/main.css")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js')
    script(src='js/main.js')
  body
    main
      dialog(ng-app='PrimalityTestApp' ng-controller='DialogController')
        h1 Введите число
        input(type='text' ng-model='input' is-number)
        p(ng-bind='answer')
