html
  font-size 14px

html,
body
  color #ffffff
  font-size 100%
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  height 100%
  margin 0

article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
  display block


html,
button,
input,
select,
textarea
  font-family 'Helvetica Neue' Helveticam Arial sans-serif
  font-size 5em

main
  margin 0 auto
  min-width 1024px
  max-width 1300px
  height 100%
  min-height 400px
  background-color #2e3436
  position relative
  text-align center

  @media screen and (max-height: 600px)
    max-width none

h1
  font-weight normal
  font-size 1em
  margin-bottom 0.3em

p
  margin-top 0.3em

dialog
  width 100%
  border none
  background none
  color inherit
  text-align center
  padding 0
  margin 0 auto
  vertical-align middle
  position absolute
  top 50%
  left 50%
  -webkit-transform translate(-50%, -50%)
  -moz-transform translate(-50%, -50%)
  transform translate(-50%, -50%)

input
  border 3px solid #ffffff
  border-radius 3px
  background-color #006c90
  color inherit
  margin 0 1em 0 1em
  text-align center
  font-size 1em
  width 8em
  -webkit-box-shadow inset 0px 0px 15px 0px rgba(255,255,255,1)
  -moz-box-shadow inset 0px 0px 15px 0px rgba(255,255,255,1)
  box-shadow inset 0px 0px 15px 0px rgba(255,255,255,1)


input,
h1
  @media screen and (max-height: 600px)
    display inline-block

